{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}news_story{% endblock %}

{% block content %}

<div class="container section">
    <h1>{{self.title}}</h1>
    <p class="news-date">{{ self.story_date|date:"F j, Y" }}</p>
    <div class="columns is-desktop">

	{% image self.lead_image original as img %}
        <div class="column is-full-mobile is-four-fifths-desktop">
        	{% if self.lead_image %}
				<img src="{{ img.url }}" class="news-lead-img" alt="{{ img.alt }}">
			{% endif %}

			{% for block in page.body %}
	      		{% include_block block %}
	      	{% endfor %}
        </div>

    </div>  <!-- // END columns -->

</div>  <!-- // END container -->

{% endblock %}