{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}news_index{% endblock %}

{% block content %}

	<div class="container-sm py-5">
		<h1>{{self.title}}</h1>
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9">
				{% if posts|length > 0 %}
					<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
					
						{% for post in posts %}
							{% cache 604800 news_post_preview post.id %}
							<div class="col">
								<article class="card news-item">
									{% if post.lead_image %}
										{% image post.lead_image width-520 as img %}
										<figure class="card-img-top" style="background-image: url({{ img.url }})">
											<img class="visually-hidden" src="{{ img.url }}" alt="{{ img.alt }}">
										</figure>
									{% endif %}

									<span class="text-body-secondary">{{ post.story_date }}</span>
                        			<a class="stretched-link text-dark text-decoration-none" href="{{ post.url }}" aria-label="Read full post for {{post.title}}">
										<h2 class="h5">{{post.title}}</h2>
									</a>
									<p>{{ post.excerpt }}</p>
									
								</article>
							</div>
							{% endcache %}
						{% endfor %}

					</div>
					
					<nav aria-label="Posts index navigation">
						<ul class="pagination">
							{% if posts.has_previous %}
								<li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous"><i class="fa-solid fa-arrow-left"></i></a></li>
							{% endif %}
							
							{% if posts.has_next %}
								<li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next"><i class="fa-solid fa-arrow-right"></i></a></li>
							{% endif %}

							{% for page_num in posts.paginator.page_range %}
								<li class="page-item {% if page_num == posts.number %}active{% endif %}">
									<a class="page-link" href="?page={{ page_num }}" aria-label="Page {{ page_num }}" {% if page_num == posts.number %}aria-current="page"{% endif %}>{{ page_num }}</a>
								</li>
							{% endfor %}

						</ul>
					</nav>
				{% else %}
					<p>There are no posts to display.</p>
				{% endif %}	

			</div>
			<aside class="col-12 col-md-4 col-lg-3">
				{% if self.news_sidebar.all %}
					{% with sidebar_sections=self.news_sidebar.all %}
						{% include 'includes/sidebar.html' %}
					{% endwith %}
				{% endif %}
			</div>

		</div>
	</div>
{% endblock %}
