anyascii==0.3.2
asgiref==3.8.1
attrs==24.2.0
autopep8==2.0.1
beautifulsoup4==4.11.2
black==22.12.0
cattrs==24.1.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
curlylint==0.13.1
defusedxml==0.7.1
Django==4.1.12
django-appconf==1.0.6
django-compressor==4.4
django-filter==22.1
django-libsass==0.9
django-modelcluster==6.3
django-permissionedforms==0.1
django-recaptcha==4.0.0
# Editable Git install with no remote (django-shibboleth-remoteuser==0.12a1)
-e /home/vagrant/bmrc/src/django-shibboleth-remoteuser
django-static-precompiler==2.4
django-taggit==3.1.0
django-treebeard==4.7.1
djangorestframework==3.15.1
djhtml==1.5.2
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
exceptiongroup==1.2.2
filetype==1.2.0
flake8==6.0.0
html5lib==1.1
idna==3.10
isort==5.11.4
l18n==2021.3
libsass==0.23.0
lxml==5.3.0
mccabe==0.7.0
mypy-extensions==1.0.0
openpyxl==3.1.5
parsy==1.1.0
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
psycopg2==2.9.9
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.7.4
PySocks==1.7.1
pytz==2024.2
rcssmin==1.1.1
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
rjsmin==1.2.1
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
telepath==0.3.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.3
wagtail==4.1.9
wagtail-django-recaptcha==2.1.1
wagtailmedia==0.11.0
webencodings==0.5.1
Willow==1.6.3
