Django==4.1.12
wagtail==4.1.9
django-compressor
django-libsass
django-static-precompiler
lxml
psycopg2
Pygments==2.7.4
pysocks
requests_cache
requests_toolbelt
wagtail-django-recaptcha
wagtailmedia==0.11.0

-e git+https://github.com/rev138/django-shibboleth-remoteuser.git#egg=django_shibboleth_remoteuser
