{% load wagtailimages_tags accessibility_tags %}


<div class="fellows-block mb-3" {% if self.anchor %}id={{ self.anchor }}{% endif %}>
    <div class="row">
        {% if self.image %}
            <div class="fb-col-{{self.size|lower}}-img">
                    <figure class="image mt-3">
                        {% if self.size == 'SM' %}
                            {% image value.image width-100 as img %}
                            <img class="img-fluid" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ value|alt_text_attr }}" />
                        {% elif self.size == 'MD' %}
                            {% image value.image width-200 as img %}
                            <img class="img-fluid" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ value|alt_text_attr }}" />
                        {% else %}
                            {% image value.image width-400 as img %}
                            <img class="img-fluid" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ value|alt_text_attr }}" />
                        {% endif %}
                    </figure>
            </div>
        {% endif %}

        <div class="col">  
            {{ value.profile_text }}
        </div>
    </div>
</div>
