{% load wagtailimages_tags %}


<div class="fellows-block mb-3" {% if self.anchor %}id={{ self.anchor }}{% endif %}>
    <div class="row">
        {% if self.image %}
            <div class="fb-col-{{self.size|lower}}-img">
                    <figure class="image mt-3">
                        {% if self.size == 'SM' %}
                            {% image value.image width-100 class="img-fluid" %}
                        {% elif self.size == 'MD' %}
                            {% image value.image width-200 class="img-fluid" %}
                        {% else %}
                            {% image value.image width-400 class="img-fluid" %}
                        {% endif %}
                    </figure>
            </div>
        {% endif %}

        <div class="col">  
            {{ value.profile_text }}
        </div>
    </div>
</div>
