{% load wagtailimages_tags %}

{% if value.image %}
    {% if value.alignment == 'fullwidth' %}
        {% image value.image original as tmp_img %}
    {% else %}
        {% image value.image width-300 as tmp_img %}
    {% endif %}

    <figure class="figure {{ value.alignment }} bg-light">
        <img class="figure-img img-fluid" src="{{ tmp_img.url }}" width="{{ tmp_img.width }}" height="{{ tmp_img.height }}" alt="{% if value.is_decorative %}{% else %}{{ value.alt_text|default:'' }}{% endif %}" />

        {% if value.caption %}
            <figcaption class="figure-caption p-2" {% if value.alignment != 'fullwidth' %}style="max-width:300px"{% endif %}>{{ value.caption }}</figcaption>
        {% endif %}
    </figure>
{% endif %}
