{% load wagtailimages_tags %}
{% image value.image original as original %}

{% if value.alignment == 'fullwidth' %}
   {% image value.image original as tmp_img %}
{% else %}
    {% image value.image width-300 as tmp_img %}
{% endif %}

<figure class="figure {{ value.alignment }} bg-light">
    <img class="figure-img img-fluid" src="{{ tmp_img.url }}" alt="{{ value.image }}" />
   
    {% if value.caption %}
        <figcaption class="figure-caption p-2">{{value.caption}}</figcaption>
    {% endif %}
</figure>
