{% load static cache wagtailcore_tags %}

<footer class="mt-auto text-bg-dark" id="footer" role="contentinfo">
    <h2 class="visually-hidden">Footer</h2>
    <div class="container-sm">
        <div class="row py-5 mt-5 border-top">

            <div class="col-12 col-md-6 mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <img class="nav-brand" src="{% static 'img/Final BMRC_logo invert horizontal.png' %}" alt="BMRC logo" style="max-width:170px">
                </a>
                <div>
                    {% if settings.site_settings.FooterSettings.facebook %}
                        <a aria-label="Follow the BMRC on Facebook" href="{{ settings.site_settings.FooterSettings.facebook }}"><i class="fab fa-facebook-square"></i></a>
                    {% endif %}
                    {% if settings.site_settings.FooterSettings.twitter %}
                        <a aria-label="Follow the BMRC on Twitter" href="{{ settings.site_settings.FooterSettings.twitter }}"><i class="fab fa-twitter-square"></i></a>
                    {% endif %}
                    {% if settings.site_settings.FooterSettings.instagram %}
                        <a aria-label="Follow the BMRC on Instagram" href="{{ settings.site_settings.FooterSettings.instagram }}"><i class="fab fa-instagram"></i></a>
                    {% endif %}

                    {% if settings.site_settings.FooterSettings.address %}
                        {{ settings.site_settings.FooterSettings.address|richtext }}
                    {% endif %}
                </div>
                {% comment %} <p class="text-body-secondary">© 2024</p> {% endcomment %}
            </div>

            <nav class="col-12 col-md-6" aria-label="Footer">
                <div class="row row-cols-1 row-cols-md-2">
                    {% for menu in settings.site_settings.MainNavigation.menus %}
                        {% if menu.value.items %}
                            <div class="col mb-3">
                                <h3 class="h5">{{ menu.value.title }}</h3>
                                <ul class="nav flex-column">
                                    {% for item in menu.value.items %}
                                        <li class="nav-item mb-2"><a href="{% if item.page %}{% pageurl item.page %}{% elif item.url %}{{ item.url }}{% else %}#{% endif %}" class="nav-link p-0">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>
    </div>

  </footer>