{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<section class="hero is-medium" style="background:url({% static 'img/background_picture_1.png' %});background-size: cover;background-position: center;">
  <div class="hero-body container" style="max-width: 768px; padding-bottom: 3em;">
    <p class="title">The Black Metropolis Research Consortium</p>
    <p class="subtitle">Connecting all who seek to document, share, understand and 
      preserve Black experiences. <em>We're updating the website, stay tuned.</em></p>
  </div>
</section>

  <section class="featured-news section">
    <div class="container">
      <h2>Recent News</h2>
      <div class="columns">
        {% for post in page.news_feed %}
        <div class="column is-one-third-tablet is-one-third-desktop">
          {% image post.lead_image width-500 as img %}
          <article>
            <a href="{{ post.url }}" aria-label="Read full post for {{post.title}}">
              {% if post.lead_image %}
              <figure>
                <img src="{{ img.url }}" alt="{{ img.alt }}">
              </figure>
              {% endif %}

              <h2 class="h3">{{post.title}}</h2>
              <p>{{ post.excerpt }}</p>
            </a>
          </article>
        </div>
        {% endfor %}
      </div>

      <span class="centered"><a href="/news" class="button read-more">View all BMRC News</a></span>

    </div>
  </section>


  <section class="featured-modules section">
    <div class="container">
      <div class="columns is-desktop">
      	{% for block in page.body %}
      		{% include_block block %}
      	{% endfor %}
      </div>
    </div>
  </section>


{% endblock %}
