{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}

{% if self.carousel_images %}
  <section class="hero hero-area section">
    <div class="hero-post-slides owl-carousel">

    	{% for item_set in self.carousel_images.all %}
    		{% image item_set.carousel_image original as img %}
    		<div class="columns single-hero-post">
          <div class="column is-three-fifths slide-post-thumbnail" style="background-image: url({{ img.url }});"></div>
            <div class="column slide-post-content">
              <h3>{{ item_set.carousel_title }}</h3>
              {{ item_set.carousel_text|richtext }}
              {% if item_set.button_link.url %}
                <a href="{{ item_set.button_link.url }}" class="button read-more">{{ item_set.button_label }}</a>
              {% endif %}
            </div>
          </div>
    	{% endfor %}
    </div>
  </section>
{% endif %}

  <section class="featured-news section">
    <div class="container">
      <h2>Recent News</h2>
      <div class="columns">
        {% for post in page.news_feed %}
        <div class="column is-one-third-tablet is-one-third-desktop">
          {% image post.lead_image original as img %}
          <article>
            <a href="{{ post.url }}" aria-label="Read full post for {{post.title}}">
              {% if post.lead_image %}
              <figure>
                <img src="{{ img.url }}" alt="{{ img.alt }}">
              </figure>
              {% endif %}

              <h2 class="h3">{{post.title}}</h2>
              <p>{{ post.excerpt }}</p>
            </a>
          </article>
        </div>
        {% endfor %}
      </div>

      <span class="centered"><a href="/news" class="button read-more">View all BMRC News</a></span>

    </div>
  </section>


  <section class="featured-modules section">
    <div class="container">
      <div class="columns is-desktop">
      	{% for block in page.body %}
      		{% include_block block %}
      	{% endfor %}
      </div>
    </div>
  </section>


{% endblock %}
