{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

	<div class="container-sm py-5">
		<h1>Website Search</h1>
       {% comment %} TODO: <span class="btn btn-danger">search bar</span>
        <br>
        <br>
        <span class="btn btn-danger">search bar portal</span>
        <br>
        <br> {% endcomment %}
		<div class="">
            {% if search_results %}
                <p>Showign {{search_results|length}}/{{total_results}} search results for "{{ search_query }}"</p>
                {% for result in search_results %}
                    {% comment %} 
                    Works
                    <p><b>result.get_parent.title</b><br> {{ result.get_parent.title }}</p>
                    <p><b>result.specific.url </b><br>{{ result.specific.url }}</p>
                    <p><b>result.search_description </b><br>{{ result.search_description }}</p>
                    <p><b>result.specific.excerpt </b><br>{{ result.specific.excerpt }}</p> 
                    <p><b>result.page_type </b><br>{{ result.page_type }}</p>
                    <p><b>result.body_excerpt </b><br>{{ result.body_excerpt }}</p>
                    {% endcomment %}
                    {% comment %} 
                    Doesn't work
                    {{ result.specific._meta.verbose_name }}  # Gets the page type name
                    <p><b>result.get_parent._meta</b><br> {{ result.get_parent._meta }}</p>
                    {{ result.specific|classname }}  # Alternative way using a custom filter
                    <p><b>result.specific._meta</b><br> {{ result.specific._meta }}</p> 
                    {% endcomment %}

                    <div class="row hover-gray mb-2">
                        <div class="col" style="min-width:250px;">
                            <div class="position-relative py-2">
                                {% if result.page_type %}
                                    <span class="text-blue fw-bold"> {{ result.page_type }}</span>
                                {% endif %}
                                <a class="text-decoration-none text-dark stretched-link d-block" href="{% pageurl result %}"><h2 class="h4">{{ result }}</h2></a>
                                {% if result.search_description %}
                                    <p>{{ result.search_description }}</p>
                                {% elif result.specific.excerpt %}
                                    <p> {{ result.specific.excerpt }}</p>
                                {% elif result.body_excerpt %}
                                    <p> {{ result.body_excerpt }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            {% if result.specific.lead_image %}
                                <figure class="figure">
                                    {% image result.specific.lead_image  width-250 class="img-fluid" %}
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
				<nav aria-label="search list pagination">
					<ul class="pagination">
						{% if search_results.has_previous %}
							<li class="page-item"><a class="page-link rounded-0 text-dark" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" aria-label="Previous">Previous results</a></li>
						{% endif %}
						
						{% if search_results.has_next %}
							<li class="page-item"><a class="page-link rounded-0 text-dark" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" aria-label="Next">More results</a></li>
						{% endif %}

						{% comment %} 
                        {% for page_num in search_results.paginator.page_range %}
							<li class="page-item {% if page_num == search_results.number %}active{% endif %}">
								<a class="page-link" href="?page={{ page_num }}" aria-label="Page {{ page_num }}" {% if page_num == search_results.number %}aria-current="page"{% endif %}>{{ page_num }}</a>
							</li>
						{% endfor %} 
                        {% endcomment %}

					</ul>
				</nav>

            {% elif search_query %}
                <p class="no-results">No results found for "{{ search_query }}"</p>
                <p>Did you want to search <a href="/portal/">the archival collection</a>?</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
