{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="container section search-results">
        <h1>Search</h1>

        <div class="container">
            {% if search_results %}

                <p class="search-term">Search results for "{{ search_query }}"</p>

                {% for result in search_results %}
                    <div class="result-item">
                        <h2><a href="{% pageurl result %}">{{ result }}</a></h2>
                        {% if result.search_description %}
                            <p>{{ result.search_description }}</p>
                        {% elif result.specific.excerpt %}
                            <p> {{ result.specific.excerpt }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <nav class="pagination" role="navigation" aria-label="pagination">
                    {% if search_results.has_previous %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="pagination-previous" aria-label="Go to Previous Page">Previous</a>
                    {% endif %}

                    {% if search_results.has_next %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="pagination-next" aria-label="Go to Next Page">Next</a>
                    {% endif %}
                </nav>

            {% elif search_query %}
                <p class="no-results">No results found for "{{ search_query }}"</p>
                <p>Did you want to search  <a href="/collections/">our Collections</a>?</p>

            {% endif %}
        </div>

    </div>
{% endblock %}
