{% load cache compress static wagtailuserbar wagtailcore_tags %}
{% wagtail_site as current_site %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% if current_site.site_name %}
                | {{ current_site.site_name }}
            {% endif %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
            <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
        {% compress css %}
        {# SCSS compilation relies on django compressor #}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon32.png' %}">
        <link rel="icon" type="image/png" sizes="144x144" href="{% static 'img/favicon144.png' %}">
    </head>
    {% include "includes/google_analytics_tag.html" %}

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div aria-label="Skip Navigation" id="skip" role="region">
            <a href="#content">Skip to Main Content</a>
            <a href="#sidebar">Skip to Side Bar</a>
            <a href="#footer">Skip to Footer</a>
        </div>
        
        {% include "includes/nav.html" %}
        
        <main id="content" role="main">

            {% block extra_header %}
                {# Override this in templates (e.g. portal templates) to add extra content between the top nav and breadcrumbs #}
            {% endblock %}

            {% if settings.site_settings.AlertBanner.enable %}
            <div class="alert {{settings.site_settings.AlertBanner.alert_level}}" role="alert">
                {{settings.site_settings.AlertBanner.alert_message|richtext}}
            </div>
            {% endif %}

            {% if self.get_ancestors|length > 1 %}
            <nav class="container breadcrumb is-small" aria-label="breadcrumbs">
              <ul>
                {% for page in self.get_ancestors %}
                {% if page.is_root == False %}
                <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="is-active"><a href="#" aria-current="page">{{ self.title }}</a></li>
              </ul>
            </nav>
            {% endif %}

            {% block content %}{% endblock %}
        </main>

        {% block extra_footer %}
            {# Override this in templates (e.g. portal templates) to add extra content between main content area and the sitewide footer #}
        {% endblock %}

        {% include "includes/footer.html" %}

        {# Global javascript #}
        {% comment %} <script type="text/javascript" src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script> {% endcomment %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
