{% load cache compress static wagtailuserbar %}
{% load wagtailcore_tags cache %}
{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
            <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
        {% compress css %}
        {# SCSS compilation relies on django compressor #}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/carousel.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/style.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="skip">
            <a href="#content">Skip to Main Content</a>
            <a href="#sidebar">Skip to Side Bar</a>
            <a href="#footer">Skip to Footer</a>
        </div>

        {% cache 604800 navigation %}
            <nav class="navbar is-fixed-top" role="navigation" aria-label="Main Navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/"><img class="nav-brand" src="{% static 'img/BMRC-Logo.png' %}" alt=""></a>
                    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample" onclick="toggleBurger()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div id="navbarExampleTransparentExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/collections/">Search Collections</a>
                        <a class="navbar-item" href="/programs/">Programs</a>
                        <a class="navbar-item" href="/news/">News</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="/about/">About</a>
                            <div class="navbar-dropdown is-boxed">
                                <a class="navbar-item" href="/about/">About the BMRC</a>
                                <a class="navbar-item" href="/about/staff/">Staff &amp; Board Members</a>
                                <a class="navbar-item" href="/about/membership">Membership</a>
                            </div>
                        </div>  
                        <a class="navbar-item" href="#">Contact</a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="field has-addons">
                              <div class="control">
                                <input class="input" type="text" placeholder="Site search">
                              </div>
                              <div class="control">
                                <a class="button is-search">
                                  <i class="fa fa-search"></i>
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endcache %}
        
        <main id="content" role="main">

            {% if self.get_ancestors|length > 1 %}
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
              <ul>
                {% for page in self.get_ancestors %}
                {% if page.is_root == False %}
                <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="is-active"><a href="#" aria-current="page">{{ self.title }}</a></li>
              </ul>
            </nav>
            {% endif %}

            {% block content %}{% endblock %}
        </main>

        {% cache 604800 footer %}
            <footer id="footer" class="footer" role="contentinfo">
                <div class="container">
                    <div class="content has-text-centered">
                        {% if settings.site_settings.FooterSettings.facebook %}
                            <a href="{{ settings.site_settings.FooterSettings.facebook }}"><i class="fab fa-facebook-square"></i></a>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.twitter %}
                            <a href="{{ settings.site_settings.FooterSettings.twitter }}"><i class="fab fa-twitter-square"></i></a>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.instagram %}
                            <a href="{{ settings.site_settings.FooterSettings.instagram }}"><i class="fab fa-instagram"></i></a>
                        {% endif %}

                        {% if settings.site_settings.FooterSettings.address %}
                            {{ settings.site_settings.FooterSettings.address|richtext }}
                        {% endif %}

                    </div>
                </div>
            </footer>
        {% endcache %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/active.js' %}"></script> <!-- For Hero Slider -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
