{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block extra_css %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
	<div class="container-sm py-5">
		<h1>{{title}}</h1>
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9 mb-4">
                {% include "portal/component_sort.html" with location="browse" %}

                <div class="browse-results list-group list-group-flush mb-4" role="list">
                    {% for facet_name, facet_items_count, facet_url in browse_results %}
                        <a class="list-group-item list-group-item-action" href="/portal/search/?f={{ facet_url | urlencode }}" role="listitem">
                            <div class="d-flex w-100 justify-content-between align-items-start">
                                <span>{{ facet_name }}</span>
                                <span class="badge rounded-pill text-bg-secondary">{{ facet_items_count }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <p class="text-body-secondary smaller-text">{{ browse_results|length }}/{{ total_results }} results</p>
                {% include 'portal/component_paginator.html' with location="browse" %}
                
            </div>
			<aside class="col-12 col-md-4 col-lg-3 mb-4">
                <div class="sidebar bg-info-subtle border border-info p-2 pt-4 mb-4 position-relative hover-gray" role="complementary">
                    <p class="h6 text-blue">Featured Curated Topic</p>
                    <a class="stretched-link text-dark text-decoration-none" href="{{ featured_curated_topic.url }}">
                        <h3 class="h4"> {{ featured_curated_topic.title }} </h3>
                    </a>
                    <figure class="figure mb-0">
                        {% image featured_curated_topic.image width-300 class="figure-img img-fluid rounded" %}
                        {% comment %} <figcaption class="figure-caption">A caption for the above image.</figcaption> {% endcomment %}
                    </figure>
                </div> 
            </aside>
        </div> 
    </div> 
{% endblock %}

{% block extra_footer %}{% endblock %}
