{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block extra_css %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
	<div class="container-sm py-5">
		<h1>{{self.title}}</h1>
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9">
            
                <ul class="browse-results">
                    {% for b in browse_results %}
                        <li><a href="/portal/search/?f={{ b.2 | urlencode }}">{{ b.1 }}</a></li>
                    {% endfor %}
                </ul>
                
            </div>
                <div class="sidebar bg-info-subtle border border-info p-2 pt-4 mb-4 position-relative rounded" role="complementary">
                    <p class="h6 text-blue">Featured Curated Topic</p>
                    <a class="stretched-link text-dark text-decoration-none" href="{{ featured_curated_topic.url }}">
                        <h3 class="h4"> {{ featured_curated_topic.title }} </h3>
                    </a>
                    <figure class="figure mb-0">
                        {% image featured_curated_topic.image width-300 class="figure-img img-fluid rounded" %}
                        {% comment %} <figcaption class="figure-caption">A caption for the above image.</figcaption> {% endcomment %}
                    </figure>
                </div> 
            </aside>
        </div> 
    </div> 
{% comment %} 
    {% if false %}
        {% include "portal/breadcrumbs.html" %}
        <div class="container section browse-view">
            <div class="columns is-variable is-8">
                <div class="column is-one-quarter browse-sidebar">
                    <h2>Browse</h2>
                
                    <h2>Featured Topic</h2>
                    {% image featured_curated_topic.image original class="is-hidden-mobile" %}
                    <p><a href="{{ featured_curated_topic.url }}">{{ featured_curated_topic.title }}</a></p>
                    <p><a href="{{ featured_curated_topic_index.url }}">Explore all curated topics &gt;&gt;</a></p>
                </div>
                <div class="column">
                    <h1>{{ title }}</h1>
                    <div class="sort-browse level-left">
                        <div class="sort-label">Sort by:</div>
                        {% if sort == 'relevance' %}
                            <button class="button is-link is-light">Relevance</button>
                        {% else %}
                            <a class="button is-text" href="/portal/browse/?b={{ b }}&sort=relevance">Relevance</a>
                        {% endif %}
                            
                        {% if sort == 'alpha' %}
                            <button class="button is-link is-light">A-Z &darr;</button> 
                        {% else %}
                            <a class="button is-text" href="/portal/browse/?b={{ b }}&sort=alpha">A-Z &darr;</a> 
                        {% endif %}
                            
                        {% if sort == 'alpha-dsc' %}
                            <button class="button is-link is-light">Z-A &uarr;</button>
                        {% else %}
                            <a class="button is-text" href="/portal/browse/?b={{ b }}&sort=alpha-dsc">Z-A &uarr;</a>
                        {% endif %}
                            
                        {% if sort == 'shuffle' %}
                            <a href="/portal/browse/?b={{ b }}&sort=shuffle" style="text-decoration: none;"><button class="button is-link is-light">Shuffle <span class="material-icons">shuffle</span></button></a>
                        {% else %}
                            <a class="button is-text" href="/portal/browse/?b={{ b }}&sort=shuffle">Shuffle <span class="material-icons">shuffle</span></a>
                        {% endif %}
                    </div>
                                
                    {% include 'portal/browse_pager.html' %}
        
                    <ul class="browse-results">
                        {% for b in browse_results %}
                            <li><a href="/portal/search/?f={{ b.2 | urlencode }}">{{ b.1 }}</a></li>
                        {% endfor %}
                    </ul>
                        
                    {% include 'portal/browse_pager.html' %}
                </div>
            </div>
        </div>
    {% endif %} {% endcomment %}
{% endblock %}

{% block extra_footer %}{% endblock %}
