{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}curated_topic{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
    

	<div class="container-sm py-5">
		<h1>{{self.title}}</h1>
		<div class="row">
            <div class="col-12 col-md-5 col-lg-4 order-md-2">
                <figure class="figure">
                    {% image self.image width-520 class="figure-img img-fluid" %}
                    <figcaption class="figure-caption">{{ self.caption }}</figcaption>
                </figure>
            </div>
            
            <div class="col-12 col-md-7 col-lg-8 order-md-1">
                {{ self.body|richtext }}
                
                {% if self.byline %}
                    <div class="byline card card-info mb-4">
                        <div class="card-body">
                            — {{ self.byline }}
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex flex-column flex-md-row mb-2">
                    <a class="btn btn-primary mb-2 mb-md-0 me-md-2" href="{{ self.search_url }}">
                        View search results for this topic
                    </a>
                    <a class="btn btn-outline-primary" href="{{ self.get_parent.url }}">
                        Explore all curated topics
                    </a>
                </div>
                
                <hr class="mt-5">
                {{ self.bottom_text|richtext }}
            </div>

		</div>
	</div>  

{% endblock %}

{% block extra_footer %}{% endblock %}

