{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}exhibits_page{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
    

	<div class="container-sm py-5">
		<h1>{{self.title}}</h1>
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9 mb-4">
                {% if self.image %}
                    <figure class="figure">
                        {% image self.image width-300 class="figure-img img-fluid" %}
                        {% comment %} <figcaption class="figure-caption">{{ self.caption }}</figcaption> {% endcomment %}
                    </figure>
                {% endif %}
				{% for block in page.body %}
					<div class="body-block-{{block.block_type}}">
						{% include_block block %}
					</div>
				{% endfor %}

            </div>
			<aside class="col-12 col-md-4 col-lg-3">
				{% if self.sidebar.all %}
					{% with sidebar_sections=self.sidebar.all %}
						{% include 'includes/sidebar.html' %}
					{% endwith %}
				{% endif %}
            </aside>
        </div>
    </div>

    {% if false %}
        <div class="container section">
            <div class="columns ">
                <div class="column">
                    <h1>{{ self.title }}</h1>

                    {% for block in page.body %}
                        {% include_block block %}
                    {% endfor %}

                    {% if self.exhibits %}
                        <ul>
                            {% for e in self.exhibits %}
                                <li><a href="{{ e.url }}">{{ e.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                {% if self.sidebar.all %}
                    <div class="column sidebar is-one-quarter" role="complementary">
                        {% for item_set in self.sidebar.all %}
                            <aside>
                                <h2>{{ item_set.sidebar_title }}</h2>
                                {{ item_set.sidebar_text|richtext }}
                            </aside>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_footer %}{% endblock %}
