{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}exhibit_index{% endblock %}

{% block extra_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    <div class="container section">
        <div class="columns is-desktop">
            <div class="column">
    			{% for block in page.body %}
    	      		{% include_block block %}
    	      	{% endfor %}
            </div>
    		{% if self.sidebar.all %}
    	        <div class="column sidebar is-one-quarter" role="complementary">
    	        	{% for item_set in self.sidebar.all %}
    	            <aside>
    	                <h2>{{ item_set.sidebar_title }}</h2>
    		            {{ item_set.sidebar_text|richtext }}
    	            </aside>
    	            {% endfor %}
    	        </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_footer %}
    {% include "portal/portal_extrafooter.html" %}
{% endblock %}
