
{% load  wagtailimages_tags %}
<section class="portal-home-featured-block my-5">
    <div class="featured-block-layer-img container-fluid">
        <div class="row">
            {% image image width-600 as img %}
            <div class="featured-block-img col-12 col-md-4" style="background-image: url({{ img.url }})">
                <figure class="visually-hidden">
                    <img src="{{ img.url }}" alt="{{ img.alt }}">
                </figure>
            </div>
            <div class="featured-block-txt col-12 col-md-8 ">
            </div>
        </div>
    </div>
    <div class="featured-block-layer-txt container-sm">
        <div class="row">
            <div class="featured-block-img col-12 col-md-4">
            </div>
            <div class="featured-block-txt col-12 col-md-8 d-flex flex-column justify-content-left py-4">
                <h2>{{ title }}</h2>
                {% if headline %}<span class="featured-block-fancy-headline">{{ headline }}</span>{% endif %}
                <span class="flex-grow-1"></span>
                <div class="d-flex flex-column flex-md-row">
                    <a class="btn btn-primary mb-2 mb-md-0 me-md-2" href="{{ url }}">Explore this {{ type }}</a>
                    <a class="btn btn-outline-primary" href="{{ index_url }}">Explore all {{ type_plural }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
