<section class="section subfooter level">
    <div class="level-left">
        <ul>
            <li><a href="/about/">About the Portal</a></li>
            <li><a href="/curated/">Curated Topics</a></li>
            <li><a href="/news/newsletter-signup/">Newsletter Signup</a></li>
            <li><a href="/help/">Research Help</a></li>
        </ul>
    </div>
    <div class="level-right">
        <a class="large button is-dark" href="/news/support-bmrc/">Support the BMRC</a>
    </div>
</section>
