{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block body_class %}portal_homepage{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}

    <div class="container-sm py-5">
        <h1 class="visually-hidden">{{self.title}}</h1>
        <div class="row">
            <section class="col-12">
                {{ self.introduction|richtext }}
            </section>
        </div>
    </div>

    {% include "portal/featured_block.html" with 
        image=self.featured_curated_topic.image 
        title=self.featured_curated_topic.title 
        headline="Featured Curated Topic" 
        link_text="Explore this Curated Topic" 
        link=self.featured_curated_topic.url 
        link_plural_text="Explore all Curated Topics" 
        link_plural=self.curated_topic_index_page.url
        %}

    {% include "portal/featured_block.html" with 
        image=self.featured_exhibit.image 
        title=self.featured_exhibit.title 
        headline="Featured Exhibit" 
        link_text="Explore this Exhibit" 
        link=self.featured_exhibit.url 
        link_plural_text="Explore all Exhibits" 
        link_plural=self.exhibit_index_page.url
        %}
    
    {% include "portal/featured_block.html" with 
        image=discover_more_facet_image 
        title=discover_more_topic 
        headline="Topic Highlight" 
        link_text="Explore this "|add:discover_more_facet_singular 
        link="/portal/search/?f="|add:discover_more_topic_uri|urlencode 
        link_plural_text="Explore all "|add:discover_more_facet_plural 
        link_plural="/portal/browse/?b="|add:discover_more_facet|urlencode 
        %}
        {% comment %} Topics People Organizations Places Decades Archives {% endcomment %}

    {% include "portal/featured_block.html" with 
        image=self.featured_archive.logo 
        title=self.featured_archive.name 
        headline="Member Highlight" 
        link_text="View collections from "|add:self.featured_archive.name 
        link="/portal/search/?f="|add:self.featured_archive.uri|urlencode 
        link_plural_text=false 
        link_plural=false 
        %}
    <div class="container-sm py-5">
        <h1 class="visually-hidden">{{self.title}}</h1>
        <div class="row">
            <section class="col-12">
                {{ self.about_the_bmrc|richtext }}
            </section>
        </div>
    </div>
{% endblock %}

{% block extra_footer %}{% endblock %}
