{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block extra_css %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
    {% comment %} 
    The filter options will be in a collapsible panel right above the results. This panel will have position relative so it will expand the whole page when open. Each group of filter options will have a max-height to show approximately 10 results and will be scrollable. 
    {% endcomment %}

	<div class="container-sm pt-2 pb-5">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9 order-2 mb-4 pt-4 results-list">
                {% comment %} =#= TITLE {% endcomment %}
                <h1 class="h2">{{title}}</h1>

                <div class="d-flex flex-wrap align-items-center mb-2">
                    {% comment %} =#= ACTIVE FACETS {% endcomment %}
                    {% if active_facets %}
                        {% for filter in all_active_facets %}
                            <a class="btn btn-outline-secondary btn-sm rounded-pill mb-2 me-2" href="/portal/search/?{{ filter.3 }}" type="button">{{ filter.1 }} <i class="fa-solid fa-xmark"></i></a>
                        {% endfor %}
                    {% endif %}

                    {% comment %} =#= RESULTS COUNT {% endcomment %}
                    <p class="text-body-secondary smaller-text mb-2">Results 
                        {{ search_results.start|add:"1" }} 
                        to 
                        {% if search_results.stop == search_results.total %}
                            {{ search_results.total }}
                        {% else %}
                            {{ search_results.stop|add:"1" }} 
                        {% endif %}
                        of 
                        {{ search_results.total }}</p>
                </div>
                        
                {% if search_results.total > 0 %}
                    {% comment %} =#= LIST RESULTS {% endcomment %}
                    <h2 class="h3 visually-hidden">Search Results</h2>
                    <div class="search-results list-group list-group-flush mb-4" role="list">
                        {% for r in search_results.results %}
                            <div class="search-result hover-gray position-relative py-2 mb-2" role="listitem">
                                <a class="stretched-link text-dark text-decoration-none" href="/portal/view/?id={{ r.uri }}">
                                    <h3 class="h4">{{ r.title }}</h3>
                                </a>
                                <p class="result-description">{{ r.abstract }}</p>
                                <p class="result-metadata">
                                    <b>Dates:</b> {{ r.date }} 
                                    {% if r.extent %} &nbsp; | &nbsp; <b>Extent:</b> {{ r.extent }}{% endif %}<br/>
                                    <b>Archives:</b> <a href="/portal/search/?f={{ r.archive_uri|urlencode }}">{{ r.archive }}</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                    {% comment %} =#= PAGINATION {% endcomment %}
                    {% include "portal/component_paginator.html" with location="search" %}
                {% else %}

                    {% comment %} =#= NO RESULTS {% endcomment %}
                    <div class="alert alert-warning">
                        <h2 class="h4">There were no results for your query</h2>
                        <p>Unfortunately, we couldn’t find any results for your search
                            term(s). Please check your spelling and try again. If
                            you need more help, check our <a href="/help/">Research
                            Help page</a> or feel free to <a
                            href="mailto:bmrc@uchicago.edu">contact us at
                            bmrc@uchicago.edu</a>.</p>
                    </div>
                {% endif %}

                {% comment %} =#= ARCHIVAL INSTITUTION {% endcomment %}
                {% if name %}
                    {% include 'portal/component_archive.html' with location='search' %}
                {% endif %}
            </div>


			<div class="col-12 col-md-4 col-lg-3 order-1 filter-and-sort">
                {% if search_results.total > 0 %}
                    <h2 class="visually-hidden">Sort & Filter</h2>

                    {% comment %} COLLAPSE S&F BUTTON {% endcomment %}
                    <div class="d-grid gap-2 d-md-none">
                        <button class="btn btn-outline-secondary d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sortAndFilter" aria-expanded="false" aria-controls="sortAndFilter">
                            Sort & Filter <i class="fa-solid fa-filter"></i>
                        </button>
                    </div>

                    <div class="collapse d-md-block mb-4 p-2 bg-light" id="sortAndFilter">
                        {% comment %} =#= SORT {% endcomment %}
                        {% include "portal/component_sort.html" with location="search" %}

                        {% comment %} =#= FILTER {% endcomment %}
                        <div class="" id="facets" data-sidebar_view_less_facet_count="{{ sidebar_view_less_facet_count }}" data-sidebar_view_more_facet_count="{{ sidebar_view_more_facet_count }}">
                            {% if search_results.active_topics or search_results.more_topics %}
                                <div class="" data-facet="topics">
                                    <h3 class="h6 text-blue">Topics</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_topics %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_topics %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
            
                            {% if search_results.active_people or search_results.more_people %}
                                <div class="" data-facet="people">
                                    <h3 class="h6 text-blue">People</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_people %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_people %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
            
                            {% if search_results.active_organizations or search_results.more_organizations %}
                                <div class="" data-facet="organizations">
                                    <h3 class="h6 text-blue">Organizations</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_organizations %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_organizations %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
            
                            {% if search_results.active_places or search_results.more_places %}
                                <div class="" data-facet="places">
                                    <h3 class="h6 text-blue">Places</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_places %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_places %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
            
                            {% if search_results.active_decades or search_results.more_decades %}
                                <div class="" data-facet="decades">
                                    <h3 class="h6 text-blue">Decades</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_decades %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_decades %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
            
                            {% if search_results.active_archives or search_results.more_archives %}
                                <div class="" data-facet="archives">
                                    <h3 class="h6 text-blue">Archives</h3>
                                    <ul class="list-unstyled">
                                        {% for f in search_results.active_archives %}
                                            <li class="active">{{ f.1 }} ({{ f.2 }})</li>
                                        {% endfor %}
                                        {% for f in search_results.more_archives %}
                                            <li><a class="text-dark" href="/portal/search/?{{ f.3 }}">{{ f.1 }} ({{ f.2 }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="d-grid gap-2 d-md-none mb-2">
                            <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#sortAndFilter" aria-expanded="false" aria-controls="sortAndFilter">
                                <i class="fa-solid fa-xmark"></i> Done
                            </button>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    {% comment %}  
        There was an elaborate method to display facet filtering.
        But I removed to simplify delivery March 3, 2025 @vitorg
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content"></div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {% endcomment %}


{% endblock %}

{% block extra_footer %}{% endblock %}

{% block extra_js %}
    {% comment %} <script src="{% static 'portal/js/portal.js' %}"></script> {% endcomment %}
{% endblock %}
