{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags cache %}

{% block extra_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block extra_header %}
    {% include "portal/portal_searchbar.html" %}
{% endblock %}

{% block content %}
    {% include "portal/breadcrumbs.html" %}
    <div class="container section browse-view">
        <div class="columns is-variable is-8">
            <div class="column is-one-quarter browse-sidebar">
                <div>
                    <h2>Contents</h2>
                    {{ navigation_html|safe }}
                    <div class="archivebox_findingaidviewer">
                        <h2>Collection Access</h2>
                        {% if archivebox_logo %}
                            <div class="archivebox_findingaidviewer_image">
                                {% image self.archivebox_logo original %}
                            </div>
                        {% endif %}
                        <div class="archivebox_name">
                            <strong>
                            {{ archive_name }}
                            </strong>
                        </div>
                        {% if archivebox_address %}
                            <div class="archivebox_address">
                                {{ archivebox_address|safe }}
                            </div>
                        {% endif %}
                        {% if archivebox_link %}
                            <div class="archivebox_link">
                                {{ archivebox_link|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <div class="column">
                {{ findingaid_html|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_footer %}
    {% include "portal/portal_extrafooter.html" %}
{% endblock %}

