/* 
 * Isolate most components to their own files.
 * Will attempt to create an abstraciton layer for the grid system,
 * to improve documentation, and maintainability.
 */


@import "navbar";

footer {
    h5 {
        color: $bmrc-blue;
        font-weight: 600;
        font-size: larger;
    }

    a {
        color: white !important;

        &:hover,
        &:focus {
            color: $bmrc-blue !important;
        }
    }
}