/* 
 * Isolate most components to their own files.
 * Will attempt to create an abstraciton layer for the grid system,
 * to improve documentation, and maintainability.
 */

/* 
 * --
 * ## Utility Classes 
 * --
 */
.smaller-text {
    font-size: smaller;
}



/* 
 * --
 * ## Fixes 
 * --
 */
a {
    @extend .focus-ring !optional;
}

p b,
p strong {
    font-size: 1.1em;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* 
 * --
 * ## Richtext 
 * --
 */
blockquote {
    @extend .blockquote;
    display: inline-block;
    border-left: 4px solid var(--bs-secondary-border-subtle);
    padding-left: .5em;
}

.richtext>ol,
.richtext>ul {
    list-style-position: inside;
}

img.richtext-image {
    @extend .img-fluid;
    @extend .mt-1;
    @extend .mb-3;

    &.left {
        float: left;
        @extend .me-2;
    }

    &.right {
        float: right;
        @extend .ms-2;
    }

}

/* 
 * --
 * ## Components 
 * --
 */
@import "navbar";
@import "footer";
@import "homepage";

/* 
 * --
 * ## Content Blocks 
 * --
 */
.figure {
    @extend .mt-1;
    @extend .mb-3;

    &.pull-left {
        float: left;
        @extend .me-2;
    }

    &.pull-right {
        float: right;
        @extend .ms-2;
    }

    img {
        margin: 0;
    }

    figcaption>p {
        margin: 0;
    }
}

.alert {
    display: inline-block;

    /* Pages edited before this update may have one of these values for the class of the info box.
    * So we need to keep them for backwards compatibility.
    ('warning-box', 'Warning'),
    ('info-box', 'Informative'),
    ('basic-box', 'Basic'),
    ('general-box', 'General'), */
    &.warning-box {
        @extend .alert-warning;
    }

    &.info-box {
        @extend .alert-info;
    }

    &.basic-box {
        @extend .alert-light;
    }

    &.general-box {
        @extend .alert-success;
    }

    &.alert-loud {
        @extend .alert-info;
        font-size: larger
    }

}

.columns-block .col {
    min-width: 17rem;
}

// .page-callout{
//     background: var(--bs-secondary-bg);
// }




/* 
This styles were injected in the home page of the production site, 
and were copied here for reference.
#content,
.featured-modules .columns {
    display: flex !important;
    flex-direction: column;
}

.section+.section {
    border-top: 0 !important;
}

section {
    &.featured-news.section {
        background: #fafafa;
        padding: 2rem;
    }

    &.featured-modules.section {
        padding: 0;
    }
}

.featured-modules {
    padding: 0;

    >.container {
        max-width: 100%;
        padding: 0;

        >div {
            padding: 1em 2em;

            &:nth-child(even) {
                background: #eee;
            }

            >* {
                display: block;
                width: 100%;
                max-width: 768px;
                margin: .5em auto;
            }

            >img {
                max-width: 300px;
            }

            >p:last-child {
                text-align: center;

                >a {
                    display: block;
                    font-weight: 600;
                    width: fit-content;
                    padding: .5em 1em;
                    border: 1px solid #000000;
                    color: black;
                    margin: 0 auto;

                    &:hover {
                        color: #232323;
                        background-color: #d1bb95;
                        border-color: #d1bb95;
                    }
                }
            }
        }
    }
} */