@media (min-width: 768px) {

    #portal-hero {
        margin-bottom: 150px !important; 

        .hero-body {
            bottom: -160px !important; 
            margin-top: -150px;

            #portal-navbar {
                #portalNavigation {
                    position: relative !important;
                    top: unset !important;
                    left: unset !important;
                    right: unset !important;
                }
            }
        }
    }

}

#portal-hero {

    .hero-body {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        bottom: -40px;

        #portal-navbar {
            width: 100%;
            flex-direction: column;

            .navbar-portal-search-and-button {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                background-color: white;
                border-radius: 200px;
                @extend .mb-2;

                form {
                    flex-grow: 1;
                }

                .navbar-toggler {
                    border: none;

                    & .fa-bars-staggered {
                        transform: rotate(-90deg);
                    }

                    &.collapsed .fa-bars-staggered {
                        transform: rotate(0);
                    }
                }
            }

            #portalNavigation {
                width: 100%;
                background-color: white;
                border-radius: 8px;
                position: absolute;
                top: 110%;
                left: 0;
                right: 0;

                &>ul.portal-nav-001>li.nav-item {
                    // text-align: center;
                    flex-grow: 1 !important;

                    &:last-child {
                        flex-basis: 100%;
                    }

                    &>a.nav-link {
                        @include navbar-links;
                        @extend .px-2;
                    }

                    .portal-nav-browse {
                        li.nav-item {
                            flex-grow: 1 !important;

                            a.nav-link {
                                @extend .px-2, .ps-4;

                                &.active {
                                    color: $bmrc-dark-green;
                                    border-bottom: 1px solid $bmrc-dark-green;
                                }
                            }
                        }
                    }
                }


            }
        }

    }
}