#portal-hero {

    .hero-body {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        bottom: -20px;
    }

    #portal-navbar {
        background-color: white;
        border-radius: 200px;
        width: 100%;
        // bottom: -20px;
        // @extend .px-3, .py-1; @extend .border, .border-light; @extend .shadow-sm;


        .navbar-toggler {
            border: none;

            .fa-circle-chevron-up {
                transition: transform 0.3s ease-in-out;
            }

            &.collapsed .fa-circle-chevron-up {
                transform: rotate(-180deg);
            }
        }

        .collapse {
            position: absolute;
            top: 100%;
            background-color: white;
            width: 100%;
            @extend .border, .border-light;
            @extend .shadow-sm;
            @extend .p-2;
        }
    }
}

/* 
===========================================================
===========================================================
===========================================================
===========================================================
========================REMOVE=============================
===========================================================
===========================================================
===========================================================
===========================================================
 */
img {
    max-width: 100%;
}