/* 
  * Custom variables for the website theme
  * and to override Bootstrap variables.
  * Some BS variables have been included commented for reference.
  * 
  Table of contents
  * ## TYPOGRAPHY
  * ## COLORS
  * ## ELEMENTS 
  * ## COMPONENTS
 */


/* 
 * --
 * ## TYPOGRAPHY
 * --
 */
@font-face {
  font-family: 'Trade Gothic Lt Std';
  src: url('/static/fonts/trade-gothic-lt-std.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic Lt Std';
  src: url('/static/fonts/trade-gothic-lt-std-bold-condensed.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-family-base: 'Trade Gothic Lt Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $line-height-base: 1.5;
// $nav-link-font-size: 1rem;

$h1-font-size: $font-size-base * 5 !default;
$h2-font-size: $font-size-base * 4 !default;
$h3-font-size: $font-size-base * 3 !default;
$h4-font-size: $font-size-base * 2 !default;
$h5-font-size: $font-size-base * 1.5 !default;
$h6-font-size: $font-size-base * 1.3 !default;
// $headings-margin-bottom:      $spacer * .5 !default;
// $headings-font-family:        null !default;
// $headings-font-style:         null !default;
$headings-font-weight: 600;
// $headings-line-height:        1.2 !default;
// $headings-color:              inherit !default; 


/* 
 * --
 * ## COLORS
 * --
 */

// BMRC palette
$bmrc-blue: #2aa9e0;
$bmrc-dark-green: #0d331f;
$bmrc-dark-gray: #241f21;
$bmrc-yellow: #fdd900;
$bmrc-white: #ffffff;

$primary: $bmrc-dark-gray;
$secondary: $bmrc-dark-green;
// $body-tertiary-color:       rgba($body-color, .5) !default;
// $body-tertiary-bg:          $gray-100 !default;

$success: #789D4A; // Custom success color
$info: #17a2b8; // Custom info color
$warning: #ffc107; // Custom warning color
$danger: #dc3545; // Custom danger color
$light: #f8f9fa; // Custom light color
$dark: #343a40; // Custom dark color

$link-color: #007396;

$bmrc-gradient: linear-gradient(257.92deg, rgba(36, 169, 224, 1) 51.83%, rgba(250, 205, 15, 1) 95.83%);
$bmrc-gradient-transparent: linear-gradient(257.92deg, rgba(36, 169, 224, 0.5) 51.83%, rgba(250, 205, 15, 0.5) 95.83%);

/* 
 * --
 * ## ELEMENTS 
 * --
 */
$focus-ring-width: .25rem;
$focus-ring-opacity: .85;
$focus-ring-color: rgba($info, $focus-ring-opacity);
$focus-ring-blur: 0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$alert-border-radius: 0;
$alert-border-width: 0;

/* 
 * --
 * ## COMPONENTS 
 * --
 */
$breadcrumb-divider: quote(">");


$pagination-active-color: var(--bs-body-color);
$pagination-active-bg: var(--bs-body-bg);
$pagination-active-border-color: var(--bs-border-color);