@font-face {
  font-family: 'Trade Gothic Lt Std';
  src: url('/static/fonts/trade-gothic-lt-std.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trade Gothic Lt Std';
  src: url('/static/fonts/trade-gothic-lt-std-bold-condensed.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



$family-primary: 'Trade Gothic Lt Std','Helvetica Neue',Helvetica,Arial,sans-serif;
$text: #232323;

$bmrc-blue: #2aa9e0; 
$bmrc-dark-green: #0d331f;
$bmrc-dark-gray: #241f21;
$bmrc-yellow: #fdd900;	
$bmrc-white: #ffffff;	

$primary: $bmrc-dark-gray;
$secondary: $bmrc-dark-green;
$accent: $bmrc-yellow;

$link: darken($bmrc-blue, 10%); //#1f9cd2
$accentlink: darken($primary, 5%);
$link-hover: $bmrc-blue;