/* Central styling file.
Defines variales,
imports bootstrap,
defines customizations,
creates components. */
@import 'variables';

/* 
 * Importing the whole Bootstrap framework.
 * Include any default variable overrides before. (though functions won't be available)
 * Additional custom code after.
 * To get more customization options:
 * https://getbootstrap.com/docs/5.3/customize/sass/
 */
@import "../bootstrap/scss/bootstrap";

body {
	font-family: 'Trade Gothic Lt Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


@import "components";

// This might need to go somewhere else
/* :root {
	// BMRC palette
	--bmrc-blue: #2aa9e0;
	--bmrc-dark-green: #0d331f;
	--bmrc-dark-gray: #241f21;
	--bmrc-yellow: #fdd900;
	--bmrc-white: #ffffff;
	// BMRC palette
	$bmrc-blue: #2aa9e0;
	$bmrc-dark-green: #0d331f;
	$bmrc-dark-gray: #241f21;
	$bmrc-yellow: #fdd900;
	$bmrc-white: #ffffff;
	// variations
	--bmrc-dark-gray-l10: #3E393B; // lighten 10%
	--bmrc-light-blue: #e9f7fc; // rgba(233, 247, 252, 1);

	// Color System
	// Why can't I use SCSS variables from _variables.scss here?
	--cs-body-background: var(--bmrc-white);
	--cs-body-color: var(--bmrc-dark-gray);
	--cs-body-color-muted: var(--bmrc-dark-gray-l10);

	--cs-navbar-background: var(--cs-body-background);
	--cs-navbar-color: var(--cs-body-color);

	--cs-footer-background: var(--bmrc-dark-gray);

	--cs-sidebar-background: var(--bmrc-light-blue);
	--cs-sidebar-color: var(--bmrc-dark-gray);
	--cs-subfooter-background: var(--bmrc-light-blue);
	--cs-subfooter-color: var(--bmrc-dark-gray);

	--cs-button-background: transparent;
	--cs-button-color: var(--bmrc-dark-gray);
	--cs-button-border-color: var(--bmrc-dark-gray);


}
 */