@import 'variables';

/* TABLE OF CONTENTS
 * Quick fix
 * Portal
 * Accessibility
 * Alerts
 * Global
 * Fonts
 * Navigation Customization
 * Layout Elements
 * Images
 * Sections (Used in homepage only)
 * Site Search
 * Member Collection Search
 * News
 * Sidebar
 * Footer
 * Other Elements
 */
:root {
	// BMRC palette
	--bmrc-blue: #2aa9e0;
	--bmrc-dark-green: #0d331f;
	--bmrc-dark-gray: #241f21;
	--bmrc-yellow: #fdd900;
	--bmrc-white: #ffffff;
	// BMRC palette
	$bmrc-blue: #2aa9e0;
	$bmrc-dark-green: #0d331f;
	$bmrc-dark-gray: #241f21;
	$bmrc-yellow: #fdd900;
	$bmrc-white: #ffffff;
	// variations
	--bmrc-dark-gray-l10: #3E393B; // lighten 10%
	--bmrc-light-blue: #e9f7fc; // rgba(233, 247, 252, 1);

	// Color System
	// Why can't I use SCSS variables from _variables.scss here?
	--cs-body-background: var(--bmrc-white);
	--cs-body-color: var(--bmrc-dark-gray);
	--cs-body-color-muted: var(--bmrc-dark-gray-l10);

	--cs-navbar-background: var(--cs-body-background);
	--cs-navbar-color: var(--cs-body-color);

	--cs-footer-background: var(--bmrc-dark-gray);

	--cs-sidebar-background: var(--bmrc-light-blue);
	--cs-sidebar-color: var(--bmrc-dark-gray);
	--cs-subfooter-background: var(--bmrc-light-blue);
	--cs-subfooter-color: var(--bmrc-dark-gray);

	--cs-button-background: transparent;
	--cs-button-color: var(--bmrc-dark-gray);
	--cs-button-border-color: var(--bmrc-dark-gray);


}

$bmrc-banner-gradient: linear-gradient(257.92deg, rgba(36, 169, 224, 0.9) 51.83%, rgba(250, 205, 15, 0.9) 95.83%);

/*
* Quick fix
* --------------------------------------------------
* background-blue: var(--Background-Blue, rgba(233, 247, 252, 1));

*/
body {
	font-size: 1.1em;
}

img:not(.nav-brand) {
	background: linear-gradient(-9deg, #ededed, #e1e1e1)
}

.input {
	border-radius: 50px;
	border: none;
	box-shadow: none;
	padding: 1em 1.2em;
}

.input::placeholder {
	color: #898989;
	opacity: 1;
	/* Firefox */
}

.input::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: #898989;
}

.button,
.button.is-dark {
	background-color: transparent;
	border: 1px solid var(--cs-button-border-color);
	color: var(--cs-button-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
	border-radius: 50px;
	padding: 15px 20px;
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	background: #eee;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--bmrc-dark-gray);
	background: transparent;
	color: var(--bmrc-dark-gray);
	transition: .1s ease-out;
}

#scrollUp:hover {
	background: var(--bmrc-light-blue)
}

// hardcoded from main page
.featured-news.section {
	order: 2;
}

#content,
.featured-modules .columns {
	display: flex !important;
	flex-direction: column;
	align-items: stretch;
}

.homepage .columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.section+.section {
	border-top: 0 !important;
}

.featured-modules {
	padding: 0;
}

.featured-modules>.container {
	max-width: 100%;
	padding: 0;
}

.featured-modules>.container>div {
	padding: 1em 2em;
}

.featured-modules>.container>div:nth-child(even) {
	background: #eee;
}

.featured-modules>.container>div>* {
	display: block;
	width: 100%;
	max-width: 768px;
	margin: .5em auto;
}

.featured-modules>.container>div>img {
	max-width: 300px;
}