{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block body_class %}contact_page{% endblock %}

{% block content %}

<div class="container section">
    <h1>{{ page.title }}</h1>

    {{ self.intro|richtext }}

    <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}

        {% for field in form.visible_fields %}
          <div class="field">
            <label class="label">
                {{ field.label_tag }}
            </label>
            <div class="control">
                {{ field }}
            </div>
          </div>
        {% endfor %}

        <div class="field" style="padding-top: 1em;">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>

    </form>

</div>


{% endblock %}